/*переменные*/

:root {
   /* --height-auto: 0;
    --height-first: auto;*/
}

/*
About
*/

@media all and (max-width: 650px) {
    .about-container-top .welcome .title{
         font-size: 38px !important;
    }

    .contacts-container-top a{
        font-size: 24px !important;

    }

}

.about-container-top, .about-container-center {
    line-height: 1;
}

.about-container-top .welcome{
    padding: 90px 0 107px;
}


.about-container-top .welcome .title {
    max-width: 690px;
    margin: 0 auto;
    text-align: center;
    color: #d9dee2;
    font-size: 60px;
    line-height: 69px;
    font-weight: 700;
    letter-spacing: -1.3px;
    text-shadow: 7px 4px 9px black;
}

.about-container-top .welcome .title span {
    padding-top: 16px;
    font-weight: 300;
    display: block;
    color: #d9dee2;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
}

.about-container-company .reabout__block__title {
    text-align: center;
    position: relative;
    color: #d9dee2;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 45px;
    padding-bottom: 17px;
    letter-spacing: -.2px;
    font-family: 'Open Sans',sans-serif;
    text-shadow: 7px 4px 9px black;
}

.about-container-company .reabout__block__title:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #8b0000;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    box-shadow: 8px 5px 9px 2px black;
}

.about-container-company .descr .title_1 {
    color: #cd5c5c;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 8px;
}

.about-container-company .descr .title_2 {
    color: #d9dee2;
    font-size: 30px;
    font-weight: 300;
}

.about-container-company .descr .title_2 {
    color: #d9dee2;
    font-size: 30px;
    font-weight: 300;
}

.about-container-company .descr .description {
    padding-top: 22px;
    margin-top: 27px;
    border-top: 1px solid #d0d0d0;
    color: #d9dee2;
    font-size: 14px;
    line-height: 24px;
}

.reabout__block__title {
    margin-top: 80px;
    text-align: center;
    position: relative;
    color: #d9dee2;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 45px;
    padding-bottom: 17px;
    letter-spacing: -.2px;
    text-shadow: 7px 4px 9px black;
}

.about-container-products .reabout__block__title:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #8b0000;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    box-shadow: 8px 5px 9px 2px black;
}

.about-container-products .products .descr {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    color: #d9dee2;
    font-size: 14px;
    line-height: 24px;
}

/*
cooperation
*/

.descr.cooper{
    margin-top: 80px;
}

/*Contacts*/

.contacts-container-top{
    color: #a8a8a8;
}

.contacts-container-top a{
    color: #a8a8a8;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contacts-container-top .contact{
    /*height: 140px;*/
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #ff040429;
    box-shadow: 5px 8px 18px 1px black;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1);
}

.contacts-container-top .contact:hover{
    /*height: 140px;*/
    /*margin-top: 2px;*/
    /*margin-left: 2px;*/
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #ff040429;
    box-shadow: 0px 0px 18px 1px black;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(0.96);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(0.96);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(0.96);
    transition: all 100ms ease-in;
    transform: scale(0.96);
}

.contacts-container-top .contact{
    margin-top: 20px;
}

/*Clients*/


.clients-container-top .client{
    color: #d9dee2;
    text-shadow: 7px 4px 9px black;
}

.clients-container-top .client tr:hover{
    color: #0f0f0f;
    text-shadow: 7px 4px 9px black;
}

.clients-container-top .client tr:not(:first-child):hover img{
    /*--height-auto: auto;*/
    height: auto;
}

.clients-container-top .client tr:not(:first-child) img{
    /*height: var(--height-auto);*/
    height: 0;
}

.clients-container-top .client tbody tr:first-child img{
    height: auto;
}
