/*
Общий
 */

@media all and (max-width: 650px) {
    .tires-container-top .tires blockquote{
        font-size: 12px;
        margin: 0 5px 0 0 !important;
        padding: 0 10px !important;
    }
    .tires-container-top .tires blockquote.not-available{
        padding: 0 10px !important;
    }
    .tires-container-top .tires tr th{
        padding: 0 10px !important;
    }
    .tires-container-top .tires tr td .media-heading{
        font-weight: 600;
        font-size: 16px;
    }
    .main-container-brande .view-brande{
        min-width: 300px !important;
    }
    .main-container-brande .view-brande img{
        width: 300px !important;
    }

    .main-container-brande a.view-brande-a {
        display: flow-root !important;
    }

}

body{
    background: linear-gradient(to top,#333,#2a2a2a,#111);
}



.affix-top210{
    position: inherit;
    margin-top: 130px !important;
    /*transition-duration: .5s;*/
    /*transition-property: margin-top;*/
}


span.highlight{
    padding: 3px 0;
    line-height: 1.45;
    background: #000000c2;
    box-shadow: 10px 0 #000000c2, -10px 0 #000000c2;
}

/*Типы*/

.main-container-type{
    /*background: linear-gradient(to top,#333,#2a2a2a,#111);*/

    /*height: 150%;*/
    margin-bottom: 300px;
    color: #fff;
    margin-top: 40px;
}

.main-container-type .name-type h3{
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    width: 83%;
    margin-bottom: 40px;
    text-align: left;
}

.main-container-type .view-type{
    background-color: #178c7f91;
    /*border: 1px solid #000000;*/
    /*border-color: black;*/
    min-height: 500px;
    max-width: 350px;
    min-width: 350px;
    margin: 20px auto;
    border-radius: 4px;
}

.main-container-type a.view-type-a{
    color: #fff;
    text-decoration: none;
}

.main-container-type .view-type:focus, .main-container-type .view-type:hover{
    background-color: #a52a2a54;;
}

.main-container-type .view-type.view-type-select{
    background-color: #a52a2a;
    border-top: 2px solid;
    border-top-color: #00ff7f;
}

.main-container-type .view-type-img{
    background-color: #000000b3;
    border: 0;
}
.main-container-type .view-type p, .main-container-type .view-type h2{
    padding: 0 10px;
}

/*Бренд*/

.main-container-brande{
    /*background: linear-gradient(to top,#333,#2a2a2a,#111);*/

    min-height: 750px;
    margin-bottom: 40px;
    color: #fff;
    margin-top: 40px;
}

.main-container-brande .name-brande h3{
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    width: 83%;
    margin-bottom: 40px;
    text-align: left;
}

.main-container-brande a.view-brande-a, .main-container-brande span.view-brande-a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.main-container-brande .view-brande{
    background-color: #020202d6;
    margin: 20px auto;
    max-width: 600px;
    min-width: 500px;
    padding: 1px 20px;
}

.main-container-brande .view-brande:focus, .main-container-brande .view-brande:hover{
    background-color: #2f4f4f;
}

.main-container-brande .view-brande-disable .view-brande, .main-container-brande .view-brande-disable .view-brande:focus, .main-container-brande .view-brande-disable .view-brande:hover{
    background-color: #696969;
    filter: grayscale(100%);
}

.main-container-brande.view-brande-disable .view-brande h4{
    background-color: #953b39;
}

.main-container-brande .view-brande-disable a{
    cursor: not-allowed;
}

.main-container-brande .view-brande.view-brande-select{
    background-color: #a52a2a;
    border-top: 2px solid;
    border-top-color: #00ff7f;
}

.main-container-brande .view-brande .view-brande-frame{
    /*width: 350px;*/
    /*height: 150px;*/
    /*position:relative;*/
    height: 150px;
}

.main-container-brande .view-brande .view-brande-frame .view-type-img{
    /*position:absolute;*/
    /*bottom:0;*/
}

.main-container-brande .view-brande-img{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}


/*Протектор*/
.main-container-protector{
    /*background: linear-gradient(to top,#333,#2a2a2a,#111);*/

    min-height: 750px;
    margin-bottom: 40px;
    color: #fff;
    margin-top: 40px;
}

.main-container-protector .top-select-protector h3{
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    width: 83%;
    margin-bottom: 40px;
    text-align: left;
}

.main-container-protector .view-protector{
    margin-bottom: 40px;
}

.main-container-protector .view-protector a, .main-container-protector .view-protector span{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    /*background-color: #000000;*/
    box-shadow: 0 0 6px 3px #000000;
}
.main-container-protector .view-protector a h4, .main-container-protector .view-protector span h4{
    background-color: #000000;
    padding: 20px 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.main-container-protector .view-protector a, .main-container-protector .view-protector span{
    display:inline-block;
    border:0;
    /*width:100px;*/
    /*height:181px;*/
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}

.main-container-protector .view-protector a:hover, .main-container-protector .view-protector span:hover{
    box-shadow: 0px 0px 150px #000000 !important;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.main-container-protector .view-protector:focus, .main-container-protector .view-protector:hover{
    /*background-color: #2f4f4f;*/
}

.main-container-protector .view-protector.view-protector-disable, .main-container-protector .view-protector.view-protector-disable:focus, .main-container-protector .view-protector.view-protector-disable:hover{
    /*background-color: #696969;*/
    /*filter: grayscale(100%);*/
}

.main-container-protector .view-protector.view-protector-disable a div h4, .main-container-protector .view-protector.view-protector-disable span div h4{
    background-color: #696969;
    position	: absolute;
    top		: 100px;
    left		: 0;
    width		: 100%;
}

.main-container-protector .view-protector.view-protector-disable a, .main-container-protector .view-protector.view-protector-disable span{
    color: #fff;
    cursor: not-allowed;
    /*background-color: #696969;*/
    box-shadow: 0 0 6px 3px #696969;
}

.main-container-protector .view-protector.view-protector-select{
    background-color: #a52a2a;
    border-top: 2px solid;
    border-top-color: #00ff7f;
}

.main-container-protector .view-protector .view-protector-frame{
    background-color: #000000a1;
    /*width: 350px;*/
    /*height: 150px;*/
    /*position:relative;*/
    /*height: 150px;*/
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: darkslategray;
}

.main-container-protector .view-protector .view-protector-frame .view-type-img{
    /*position:absolute;*/
    /*bottom:0;*/
}

.main-container-protector .view-protector-img{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

#bg.bg-protector-fixed div, #bg.bg-type-fixed div{
    height: 1000px;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    z-index: -1;
}



/*Покрышки*/
.tires-container-top .tires{
    color: #0f0f0f;
    text-shadow: 7px 4px 9px black;
    background-color: #f5f5f5;
}

.tires-container-top .tires tr:hover{
    color: #0f0f0f;
    text-shadow: 7px 4px 9px black;
    background-color: #dcdcdc;
}

.tires-container-top .tires tr th{
    padding: 10px 50px;
    font-size: 24px;
    /*text-align: center;*/
    text-shadow: 7px 4px 14px black;
    vertical-align: inherit;
    font-family: 'Ropa Sans', sans-serif;
    /*font-family: 'Squada One', cursive;*/
}

.tires-container-top .tires tr td{
    padding: 10px 50px;
    font-size: 16px;
    /*font-weight: 600;*/
    /*text-shadow: 7px 4px 12px black;*/
    text-shadow: none;
    vertical-align: inherit;
    font-family: 'Ropa Sans', sans-serif;
    /*font-family: 'Squada One', cursive;*/
}

.tires-container-top .tires tr td .media-heading{
    font-weight: 500;
    font-size: 26px;
}

.tires-container-top .tires tr th, .tires-container-top .tires tr td{
    border-color: #1a1a1a;
}

.tires-container-top .tires .media-body{
    /*width: 250px;*/
}

.tires-container-top .tires blockquote{
    padding: 0px 20px;
    border-left: 5px solid #32cd32;
    color: #008000;
    margin: 0 50px 0 0;
}

.tires-container-top .tires blockquote.not-available{
    padding: 0px 20px;
    border-left: 5px solid #a9a9a9;
    color: #a9a9a9;
    text-shadow: 7px 4px 12px #e2d0d0;
}


/*Футер*/

.main-footer{
    font-size: 12px;
    margin-top: 80px;
    color: #fff;
    background-color: #181818;
}

.main-bottom{
    font-size: 12px;
    color: #fff;
    background-color: #a52a2a;
    /*height: 20px;*/
}

.main-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.main-footer .social a{
    display: inline-block;
    width: 28px;
    height: 30px;
    background: url(/img/social.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: -5000px;
    margin-right: 4px;
}

.main-footer .social a.fb {
    background-position: -28px 0;
}

.main-footer .social a.ig {
    background-position: -56px 0;
}

.main-footer .social a.yt {
    background-position: -84px 0;
}

.main-bottom .developer{
    font: 14px/16px HelveticaBold;
    color: #fff;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/*Слайдшоу*/
