/*
Навигационная панель менюшки
*/

.navbar-container-top{
    height: 50px;
    background: #181818;
}

.navbar-fix.affix-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;

}

.navbar-fix.affix{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;

}

.navbar-line{
    background: #555;
    height: 27px;
    margin: 0 20px;
    width: 1px;
    display: inline-block;
}

.affix .navbar-container-center{
    height: 50px;
    transition-duration: .5s;
    transition-property: height;
}

.free-call, .free-call:focus, .free-call:hover{
    display: block;
    text-decoration: none;
    text-align: right;
    color: #fff;
    font: 31px/46px 'Squada One', cursive;
    cursor: pointer;
    font-weight: bold;
    transition-duration: .5s;
    transition-property: font;
}
.free-call .glyphicon , .free-call .glyphicon:focus, .free-call .glyphicon:hover {
    font-size: 20px;
}

.affix-top .free-call{
    margin-top: 10px;
    transition-duration: .5s;
    transition-property: margin-top;
}

.affix .free-call{
    margin-top: 0px;
    font: 21px/26px 'Squada One', cursive;
    transition-duration: .5s;
    transition-property: margin-top, font;

}

.navbar-logo h1{
    margin-top: 50px;
    color: #fff;
}

.navbar-logo{
    margin-top: 10px;
    height: 47px;
    display: inline-block;
    background: url(/img/logo_at.png) 0 0 no-repeat;
    transition-duration: .5s;
    transition-property: margin-top, height;
}

.affix .navbar-logo{
    margin-top: 0;
    height: 32px;
    background-size: 220px;
    transition-duration: .5s;
    transition-property: margin-top, height;
}

.affix .navbar-logo h1{
    margin-top: 0px;
    font: 21px/26px fantasy;
}

.navbar-logo-xs-6{

}

.navbar-container-center-line{
    height: 1px;
    background: #fff;
    /*width: 2000px;*/
}

.navbar-container-center{
    background: #000;
    height: 80px;
    transition-duration: .5s;
    transition-property: height;
}

.navbar-container-bottom{
    margin-top: -20px;
    z-index: 2;
}

.navbar.main-navbar{
    min-height: 40px;
    background: linear-gradient(180deg,#ba0a17 0,#d81120 100%);
}

.main-navbar .navbar-brand{
    height: 40px;
    padding: 10px 15px;
    color: #fff;

}

.main-navbar .container .navbar-collapse li a {
    color: #fff;
    border-top: 1px solid #930711;
    border-bottom: 3px solid #930711;
    text-transform: uppercase;
    background: linear-gradient(180deg,#ba0a17 0,#d81120 100%);

}

.main-navbar .container .navbar-collapse li a {
    border-left: 1px solid #930711;
    padding: 8px 15px;
}

.main-navbar .container .navbar-collapse li a:hover, .main-navbar .container .navbar-collapse li a:focus {
    border-left: 1px solid #930711;
    padding: 8px 15px;
    border-top: 0px solid #930711;
}

.main-navbar .dropdown.open .dropdown-menu{
    padding: 0px 0;

}

.main-navbar .dropdown.open .dropdown-menu li a{
    border-bottom: 0px solid #930711;
}

.main-navbar .dropdown.open .dropdown-menu .divider{
    background: #66030a;
    margin: 0px 0;
    height: 2px;
}

.main-navbar .dropdown.open .dropdown-menu .dropdown-header{
    background: linear-gradient(180deg,#ba0a17 0,#d81120 100%);
    color: #a8a8a8;
}




